*{
   margin: 0;
   padding: 0;
}

a{
   text-decoration: none;
}
li{
   list-style: none;
}

body {
      font-family: "Open Sans", serif;
      font-optical-sizing: auto;
      font-variation-settings:
        "wdth" 100;
      color: #151618;
    
}
   /* font-family: "Cormorant", serif;
   font-optical-sizing: auto;
   font-style: normal; */


.header {
   padding: 30px 0;
   background-color: #fff;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__list{
   display: flex;
   gap: 65px;
}

.nav__link{
   font-family: "Open Sans", serif;
color: #151618;
font-size: 18;
font-weight: 400;
}

.nav__make{
   display: flex;
   gap: 20px;
}

.sum_head{
   display: flex;
   gap: 50px;
}
.head__contetn{
   max-width: 100%;
   height: 60vh;
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, black 98%) , url(../image/Rectangle\ 75.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
}
.head__title{
   padding-top: 267px;
   font-family: "Cormorant", serif;
   font-size: 60px;
   font-weight: 400;
   color: #fff;
   max-width: 790px;
}

.head__text {
   font-family: "Cormorant", serif;
   color: #fff;
   padding-top: 20px;
   padding-bottom: 35px;
   font-size: 24px;
   font-weight: 400;
   max-width: 560px;
}

.colection{
   padding: 150px 0;
   background-color: #fff;
   text-align: center;
}

.colection__text {
   max-width: 745px;
   font-family: "Cormorant", serif;
font-size: 40px;
font-weight: lighter;
font-style: italic;
margin: 0 auto;
   padding-bottom: 150px;
}

.h3__titel{
   font-family: "Cormorant", serif;
font-size: 40px;
font-weight: 400;
padding-bottom: 60px;
text-align: center;

}

.colection_links{
   display: flex;
   gap: 40px;
}

.colection__item a{
color: #151618;
font-family: "Cormorant", serif;
font-size: 24px;
font-weight: 400;
padding-top: 10px;
}

.clients{
   background-color: #F7F2EA;
   padding:60px;
   margin-bottom: 150px;
}

.clients__com{
   display: flex;
   gap: 26px;
}

.clients__item{
   font-size: 16px;
font-weight: lighter;
font-style: italic;
padding-bottom: 10px;
max-width: 280px;
}

.autor{
   font-size: 20px;
font-weight:bold;
}

.blog{
   text-align: center;
   padding-bottom: 150px;
}

.blog_cont{
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   padding-bottom: 60px;
}

.blog__item {
   max-width: 542px;
   display: flex;
   gap: 20px;
}

.h4-blog{
   font-family: "Cormorant", serif;
font-size: 24px;
font-weight: 400;
}

.p-blog{
   font-size: 13px;
   font-weight: lighter;
}

.blog__item-cont a {
color: #151618;
}

.blog__item-cont{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: left;
}

.blog__btn{
   padding: 12px 41px;
   background-color: inherit;
   border: 1px solid #151618;
   color: #151618;
   font-family: "Open Sans", serif;
font-size: 20px;
font-weight: lighter;
cursor: pointer;

}

.section-form{
   padding: 100px 0;
   margin-bottom: 150px;
   background-color: #F7F2EA;
   background-image: url(../image/tea\ 1.png)
   ;
   background-repeat: no-repeat;
   background-position: right;
}

.titel_form{
   padding-bottom: 50px;
   text-align: left;
}

.container__mini{
   display: flex;
   gap: 40px;
}

.text_form{
   max-width: 580px;
   font-size: 20px;
font-weight: lighter;
}

.form {
   vertical-align: bottom;
}
.input{
   width: 434px;
   height: 23px;
   border: none;
   background-color: transparent;
   border-bottom: 2px solid #B8B58B;
   opacity: .6;
font-weight: lighter;
vertical-align: bottom;
margin-bottom: 10px;

}
input::placeholder{
   color: #B8B58B;
   font-size: 20px;
font-weight: lighter;
}
.form-btn{
   padding: 12px 41px;
   background-color: #fff;
   border: 1px solid #151618;
   color: #151618;
   font-family: "Open Sans", serif;
font-size: 20px;
font-weight: lighter;
cursor: pointer;
margin-left: 20px;
margin-bottom: 10px;

}

.text_form-item{
   max-width: 560px;
   padding-left: 26px;
   font-size: 13px;
font-weight: lighter;
}
 
.form-cont{
   position: relative; 
}

.checkbox{
   position: absolute;
   top: 3px;
   left: 0;
   border-radius: 0;
   border-color: #151618;
}

.prior_content{
   display: flex;
   justify-content: space-between;
   gap: 60px;
   padding-bottom: 150px;
}

.prior__item{
   text-align: center;
}

.prior__title{
   font-size: 27px;
font-weight: lighter;
padding-bottom: 10px;
}

.prior__text{
   font-size: 19px;
padding-bottom: 30px;
}
.container-footer{
   display: flex;
   justify-content: space-between;
}


.footer{
   background-color: #F7F2EA;
   padding-top: 100px;
   padding-bottom: 20px;
}
.products{
margin-right: 20px;
}

.text_footer{
   font-family: "Cormorant", serif;
font-size: 24px;
font-weight: 400;
padding-bottom: 50px;
}

.footer_item{
   font-size: 16px;
font-weight: lighter;
padding-bottom: 20px;
}

.company-content{
   max-width: 270px;
}

.company_item{
   font-size: 16px;
   font-weight: lighter;
   font-style: italic;
   padding-bottom: 20px;
   padding-top: 80px;
}

.company-autor{
   font-size: 12px;
   font-weight: lighter;
}

.stay{
   max-width: 270px; 
}

.stay-cont{
   display: flex;
   gap: 40px;
   padding-top: 20px;
   align-items: center;
   padding-bottom: 40px;
}
.stay_text{
   font-size: 15px;
   font-weight: lighter;  
}
.stay-text,
.foot-text {
   font-size: 15px;
   font-weight: lighter;
   color: #151618;
}
.stay_contact{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.stay_list{
   display: flex;
   align-items: center;
   gap: 22px;
   justify-content: end;
}

.footer_pay{
   max-width: 470px;
   display: flex;
   justify-content: space-between;
   padding-top: 100px;
}

.foot-list{
   display: flex;
   gap: 20px;
}

.sum{
   display: flex;
   gap: 20px;
}



.burger {
   display: none;
   position: relative;
   z-index: 50;
   align-items: center;
   justify-content: flex-end;
   width: 30px;
   height: 18px;
 }
 
 .burger span {
   height: 2px;
   width: 100%;
   transform: scale(1);
   background-color: #151618;
 }
 
 .burger::before,
 .burger::after {
   content: '';
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: #151618;
   transition: all 0.3s ease 0s;
 }
 
 .burger::before {
   top: 0;
 }
 
 .burger::after {
   bottom: 0;
 }
 
 












@media (max-width:1000px){

   .input {
      max-width: 280px;
   }

   .head__contetn{
      background-position: left;
   }

   .container{
      padding-left:20px;
      padding-right:20px;
   }

   .colection_links{
      gap: 0;
   }
   .colection__item img{
      width: 190px;
   }
   .blog_cont{
      gap: 10px;
   }

   .blog__item{
      max-width: 475px;
   }

   .titel_form{
      text-align: center;
   }

   .text_form{
      max-width: 780px;
   }

   .container__mini{
      flex-direction: column;
      align-items: center;
      gap: 60px;
   }
.prior{
   margin: 0 auto;
   text-align: center;
   align-items: center;
   justify-content: center;

}
   .prior_content{
      flex-wrap: wrap;
      max-width: 757px;
      margin: 0 auto;
   }
   
   .head__title{
      padding-top: 200px;
   }
   }

@media (max-width:768px){
.colection_links{
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}
.colection__item{
   display: flex;
   flex-direction: column;
}

.clients__com{
   flex-wrap: wrap;
}

.blog_cont{
   gap: 30px;
}
.blog__item{
   max-width: 515px;
}
.text_form{
   max-width: 640px;
   text-align: center;
}
.sum{
   flex-wrap: wrap;
   max-width: 270px;
}

.container-footer{
   margin: 0 auto;
}

.company_item{
   padding-top: 0;
}

.nav__list {
   display: none;
}

.burger{
   display: flex;
}




.two{
   margin-left: 100px;
}

.prior_content{
   max-width: 640px;
}



   
}
@media (max-width:480px){
 
   .two{
      margin-left: 0;
   }

   .sum_head{
      gap: 20px;
   }

   .head__title{
      font-size: 40px;
      padding-top: 200px;
   }

   .colection{
      padding: 60px 0;
   }

   .colection__text{
      font-size: 16px;
      padding-bottom: 60px;
   }

   .h3__titel{
      padding-bottom: 30px;
   }
.clients{
   padding: 0;
   padding-bottom: 50px;
   margin-bottom: 60px;
}
   .clients__item{
      max-width: 207px;
   }

   .blog__item img {
      width: 230px;
      height: 153px;
   }

   .h3__titel,
   .blog{
      padding-bottom: 60px;
   }

   .input{
      width: 295px;
   }

   .text_form{
      font-size: 13px;
      font-weight: lighter;
   }

   .container__mini{
      gap: 30px;
   }

   .section-form{
      padding: 50px 0;
      margin-bottom: 60px;
   }

   .prior_content{
      justify-content: center;
      padding-bottom: 60px;
   }

   .container-footer{
      flex-wrap: wrap;
   }

   .company-content,
   .sum,
   .stay{
      max-width: 100%;
   }

   .sum{
      gap: 50px;
   }
   .text_footer{
      padding-bottom: 20px;

   }

   .stay_text{
      text-align: center;

   }

   .stay_list{
      padding-right: 115px;
   }

   .stay-cont{
      gap: 100px;
   }

   .footer_pay{
      padding-top: 50px;
   }

   .one{
      text-align: center;
   }

   

}
@media (max-width:360px){

   .head__title{
      font-size: 24px;
      padding-top: 200px;
   }

   .head__text{
      font-size: 13px;
   }

   .colection__item img{
      width: 155px;
   }

   .clients__item{
      max-width: 100%;
   }

   .blog__item{
      display: flex;
      flex-wrap: wrap;
   }

   .blog{
      max-width: 270px;
      margin: 0 auto;
   }

   .input{
      width: 178px;
   }

   .stay-cont{
      gap: 60px;
   }

   .stay_list{
      padding-right: 30px;
   }

   .logo__img {
      padding-left: 75px;
   }
}